#background {
    background-image: url('assets/background.jpg');
    height: 700px;
    width: 1400px;
}

#henry {
    background-image: url(assets/henry.png);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 500px;
    left: 700px;
}

#corona {
    background-image: url(assets/corona.png);
    height: 91px;
    width: 91px;
    position: absolute;
    transition: top .5s ease, left .5s ease;
}

#start {
    height: 100px;
    width: 100px;
    display: flex;
 }

 .btn-start {
     height: 50px;
     width: 200px;
     align-content: center;
 }